<div id="contents">
      <h2>INFORMATION</h2>
      <dl class="information">
         <dt><span>2009-04-28</span></dt>
         <dd>
            <div>
               ○○新聞に取材を受けました。<br />
            </div>
         </dd>
         <dt><span>2009-04-24</span></dt>
         <dd>
            <div>
               休業のお知らせ。誠に勝手ながら5月2日から6日まで長期休暇日とさせていただきます。ご了承ください。
            </div>
         </dd>
      </dl>
      <h2>タグサンプル</h2>
      <h3>h3タグ</h3>
      <h4>h4タグ</h4>
      <h5>h5タグ</h5>
      <h6>h6タグ</h6>
      <p>
         <em>強調（em）</em>
         <strong>より強い強調（strong）</strong>
         <ins>追加（ins）</ins>
         <del>削除（del）</del>
         <br />
         <a href="#">テキストアンカー</a>
      </p>
      <h3>リスト</h3>
      <h4>普通のリスト</h4>
      <ul>
         <li>普通のリスト1</li>
         <li>普通のリスト2</li>
         <li>普通のリスト3</li>
      </ul>
      <h4>番号付きリスト</h4>
      <ol>
         <li>番号付きリスト1</li>
         <li>番号付きリスト2</li>
         <li>番号付きリスト3<br />li要素の中はブロックレベルのタグを使用することが出来ます。例えば、&lt;p&gt;タグも記述することが出来ます。<br /></li>
      </ol>
      <h4>定義リスト</h4>
      <dl>
         <dt>定義リスト1</dt>
         <dd>定義した用語の説明</dd>
         <dt>定義リスト2</dt>
         <dd>定義した用語の説明</dd>
         <dt>定義リスト3</dt>
         <dd>定義した用語の説明<br />dd要素の中はブロックレベルのタグを使用することが出来ます。例えば、&lt;p&gt;タグも記述することが出来ます。しかし、dt要素にはインライン要素しか記述することができません。</dd>
      </dl>
      <h3>テーブル</h3>
      <table summary="">
         <tr><th>見出し1</th><th>見出し2</th><th>見出し3</th><th>見出し4</th><th>見出し5</th></tr>
         <tr><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
         <tr><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
         <tr><td>セル1</td><td>セル2</td><td>セル3</td><td>セル4</td><td>セル5</td></tr>
      </table>
