{% extends 'vote/base.html' %}

{% block content %}
  <h2>投票対象作成</h2>
  <form action="" method="POST">{% csrf_token %}
    {{ form.choiceNum.errors }}
    {{ form.choiceNum.label }}<br />
    {{ form.choiceNum }}
    <button type="submit">Enter</button>
  </form>
  <form action="" method="POST">{% csrf_token %}
    {{ formset.management_form }}
    {% for form in formset %}
      <div class="fieldWrapper">
          {{ form.GchoiceName.errors }}
          {{ form.GchoiceName.label }}<br />
          {{ form.GchoiceName }}
      </div>
    {% endfor %}
    <button class="submitButton" type="submit">Enter</button>
  </form>
{% endblock %}
